In [1]:
##The total number of months included in the dataset.


##The net total amount of Profit/Losses over the entire period.


##The average of the changes in Profit/Losses over the entire period.


##The greatest increase in profits (date and amount) over the entire period.


##The greatest decrease in losses (date and amount) over the entire period.


"""
Financial Analysis
----------------------------
Total Months: 86
Total: $38382578
Average  Change: $-2315.12
Greatest Increase in Profits: Feb-2012 ($1926159)
Greatest Decrease in Profits: Sep-2013 ($-2196167)
"""

'\nFinancial Analysis\n----------------------------\nTotal Months: 86\nTotal: $38382578\nAverage  Change: $-2315.12\nGreatest Increase in Profits: Feb-2012 ($1926159)\nGreatest Decrease in Profits: Sep-2013 ($-2196167)\n'

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("Homework_02-Python_Instructions_PyBank_Resources_budget_data.csv")

df.head(10)

       Date  Profit/Losses
0  Jan-2010         867884
1  Feb-2010         984655
2  Mar-2010         322013
3  Apr-2010         -69417
4  May-2010         310503
5  Jun-2010         522857
6  Jul-2010        1033096
7  Aug-2010         604885
8  Sep-2010        -216386
9  Oct-2010         477532

In [4]:
##The total number of months included in the dataset.

data_frame_months = df['Date'].count()

In [5]:
data_frame_months

86

In [6]:
##The net total amount of Profit/Losses over the entire period.


total_profit_losses = df['Profit/Losses'].sum()

In [7]:
total_profit_losses

38382578

In [8]:
##The average of the changes in Profit/Losses over the entire period.

change = []
profit_losses = df['Profit/Losses']


for i in range(1,len(profit_losses)):
    change.append(profit_losses[i] - profit_losses[i-1])
print(change)

[116771, -662642, -391430, 379920, 212354, 510239, -428211, -821271, 693918, 416278, -974163, 860159, -1115009, 1033048, 95318, -308093, 99052, -521393, 605450, 231727, -65187, -702716, 177975, -1065544, 1926159, -917805, 898730, -334262, -246499, -64055, -1529236, 1497596, 304914, -635801, 398319, -183161, -37864, -253689, 403655, 94168, 306877, -83000, 210462, -2196167, 1465222, -956983, 1838447, -468003, -64602, 206242, -242155, -449079, 315198, 241099, 111540, 365942, -219310, -368665, 409837, 151210, -110244, -341938, -1212159, 683246, -70825, 335594, 417334, -272194, -236462, 657432, -211262, -128237, -1750387, 925441, 932089, -311434, 267252, -1876758, 1733696, 198551, -665765, 693229, -734926, 77242, 532869]

In [9]:
Sum_profit_losses = sum(change)
print(Sum_profit_losses)

-196785

In [10]:
len(change)

85

In [11]:
Average_change_profit_losses = round(Sum_profit_losses/len(change),2)

In [12]:
print(Average_change_profit_losses)

-2315.12

In [13]:
##The greatest increase in profits (date and amount) over the entire period.
Biggest_change = max(change)

In [14]:
print(Biggest_change)

1926159

In [15]:
##The greatest decrease in losses (date and amount) over the entire period.
greatest_decrease = min(change)
print(greatest_decrease)

-2196167

In [16]:
Bank_data = {'Total Number of Months' : [data_frame_months],
             'Total' : [total_profit_losses],
             'Average Change' : Average_change_profit_losses,
             'Maximum Profit' : Biggest_change,
             'Maximum Loss' : [greatest_decrease]}

In [17]:
print("Financial Analysis")
print ("----------------------------")
Bank_data

Financial Analysis
----------------------------

{'Total Number of Months': [86],
 'Total': [38382578],
 'Average Change': -2315.12,
 'Maximum Profit': 1926159,
 'Maximum Loss': [-2196167]}

In [18]:
df2 = pd.DataFrame(Bank_data)

df2

,Total Number of Months,Total,Average Change,Maximum Profit,Maximum Loss
0,86,38382578,-2315.12,1926159,-2196167

In [19]:
df2.to_csv('report.txt', index=False, sep= '\t')